.dishes-top-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 13vw 3vw 0 3vw;
}

.dishes-top-items .top-title {
  margin: 0;
}
.dishes-top-items .equal .add-button {
  background-color: #fcb9a9;
  float: inline-end;
}

.dishes-top-items .search .search-button {
  border: none;
  border-radius: 15px;
  padding: 0;
  background-color: #edeae5;
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  aspect-ratio: 1/1;
}

.dishes-top-items .search-button img {
  width: 80%;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  object-fit: contain;
  position: absolute;
}

.dishes-top-items .search input {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 15px;
  font-family: system-ui, -apple-system;
  font-weight: 100;
  font-size: 2.5vw;
  min-height: 5vw;
  width: 25vw;
  padding-left: 1vw;
  padding-right: 5.5vw;
}

.dishes-top-items .search {
  position: relative;
  margin: 0 auto;
}

.dishes-top-items .equal {
  width: 20%;
}

@media screen and (max-width: 600px) {
  .dishes-top-items .search input {
    height: 30px;
  }
}
