.dishes-item {
  display: block;
  padding: 1.8vw 3.5vw;
  background-color: rgba(0, 0, 0, 10%);
  margin: 4vw 3vw 3.8vw 3vw;
  border-radius: 15px;
  position: relative;
}

.dishes-item .title {
  display: block;
  color: #2c2c2c;
  font-size: 6vw;
  font-weight: 200;
  margin: 1.8vw auto 3.5vw auto;
  text-align: center;
}

.dishes-item .mini-title {
  display: block;
  color: #2c2c2c;
  font-size: 2.8vw;
  font-weight: 200;
  margin: 3.5vw auto 3.5vw auto;
  text-align: center;
}

.img-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.8vw;
  align-items: center;
  /* flex-wrap: wrap; */
  overflow: hidden;
}

.img-description p {
  font-size: 2.8vw;
  flex: 1 1 50%;
  word-wrap: break-word;
  white-space: normal;
  margin: 0;
  max-width: 50%;
  text-align: center;
  overflow-y: auto;
  max-height: 300px;
  padding-right: 10px;
}

.img-description img {
  flex-basis: 30%;
  aspect-ratio: 1/1;
  border-radius: 15px;
  object-fit: cover;
  overflow: hidden;
  border: none;
}

.arrow {
  position: absolute;
  background-color: transparent;
  border-width: 0;
  bottom: 1.8vw;
  left: 50%;
  translate: -50%;
}

.dishes-item .edit {
  position: absolute;
  background-color: rgba(0, 0, 0, 10%);
  border-radius: 15px;
  width: 5vw;
  height: 5vw;
  border: none;
  padding: 0;
  top: 0;
  right: 0;
}

.dishes-item .edit img {
  width: 5vw;
  height: 5vw;
}

.text {
  font-size: 2.8vw;
  text-align: center;
  padding-bottom: 20px;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  /* margin: 0 4vw; */
  font-size: 2.8vw;
}

.dishes-item .weight-calories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dishes-item .weight-calories h2 {
  font-size: 2.8vw;
  margin: 3.5vw 0;
}
