.edit-dish {
  width: 80%;
}

.menu-name {
  text-align: center;
  font-size: 52px;
}

.deadline-container .deadline-title {
  margin-top: 0;
}

.dividing-line {
  margin: 10px -500px;
}

.dish {
  display: flex;
  justify-content: space-between;
  margin-bottom: -30px;
  transition: all 0.3s ease;
}

#bottom-dividing-line {
  margin-top: 40px;
  margin-bottom: 20px;
}

.deadline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deadline-date {
  display: inline;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.container button,
.button-in-prep {
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  border-radius: 15px;
  /* background-color: #FFA38D; */
}

.edit-button {
  background-color: rgba(0, 0, 0, 0.1);
}

.cancel-button {
  background-color: #ffa38d;
}

.container img {
  width: 60px;
  text-align: center;
}

.pencil {
  width: 90%;
}

.info-buttons {
  display: flex;
  justify-content: space-between;
}
