.menu-name {
  text-align: center;
  font-size: 52px;
}

.deadline-container .deadline-title {
  margin: 0;
}

.dividing-line {
  margin: 10px -500px 30px -500px;
}

.overlay .info {
  width: auto;
}

.info p {
  min-width: 340px;
  max-width: 650px;
  word-wrap: break-word;
}

.info .deadline-date {
  min-width: 0;
  max-width: 200px;
}

.info .dish {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

.info .dish h3 {
  margin: 0;
  font-size: 18px;
}

#bottom-dividing-line {
  margin-top: 40px;
  margin-bottom: 20px;
}

.deadline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deadline-date {
  /* display: inline; */
  width: auto;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

/* .container button,
.button-in-prep {
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  border-radius: 15px;
} */

.edit-button {
  background-color: rgba(0, 0, 0, 0.1);
}

.cancel-button {
  background-color: #ffa38d;
}

.pencil {
  width: 90%;
}

.info-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
