.item-name {
  display: inline;
  font-size: 25px;
  margin: 0 30px 0 0;
  word-break: break-word;
  hyphens: auto;
}

@media screen and (max-width: 700px) {
  .item-name {
    font-size: 18px;
    margin: 0 15px 0 0;
  }
}

.work-prep-things {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-prep-things button img,
.arrow img {
  width: 30px;
  height: 30px;
  opacity: 0.8;
}

.work-prep-things .arrow {
  position: static;
  translate: 0;
}

.work-prep-things button {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 30px;
  width: 30px;
}

.work-prep-item {
  background-color: rgba(0, 0, 0, 10%);
  margin: 20px 3vw;
  padding: 10px 20px;
  border-radius: 15px;
  transition: all 0.3s ease;
  position: relative;
}
.prep-item {
  transition: padding 0.3s ease;
  position: relative;
}

.name-n-info {
  display: flex;
  align-items: center;
}

.prep-item-margin {
  height: 10px;
}

.product-in-prep {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.name-of-dish,
.how-many-dish {
  flex-basis: 40%;
}

.how-many-made {
  flex-basis: 20%;
}
.dish-in-work div,
.product-in-prep div {
  display: flex;
  align-items: center;
}

.product-in-prep h3 {
  margin: 0;
}

.check-dishes,
.check-product {
  display: block;
  position: relative;
  margin: 0 25px 25px 25px;
  cursor: pointer;
}

.check-dishes input,
.check-product input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #12e3e6;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.check-dishes:hover input ~ .checkmark,
.check-product:hover input ~ .checkmark {
  background-color: #12e3e6a3;
}

.check-dishes input:checked ~ .checkmark,
.check-product input:checked ~ .checkmark {
  background-color: #12e3e6;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-dishes input:checked ~ .checkmark:after,
.check-product input:checked ~ .checkmark:after {
  display: block;
}

.check-dishes .checkmark:after,
.check-product .checkmark:after {
  left: 8px;
  top: 4px;
  width: 7px;
  height: 13px;
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.prep-item .button-in-prep,
.work-prep-item .button-in-prep {
  background-color: #12e3e6;
  color: #2c2c2c;
  font-weight: 600;
  font-size: 20px;
  height: auto;
  padding: 5px 20px;
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
  transition: all 0.3s ease;
  opacity: 0;
}

.work-prep-item .button-in-prep:active {
  scale: 0.8;
}

.work-prep-item .button-in-prep:hover {
  box-shadow: 0px -1px 40px 0px #12e3e6;
}
