.dishes-item {
    display: block;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 10%);
    margin: 0 70px 40px 70px;
    border-radius: 15px;
    position: relative;
}

.dishes-item .title {
    display: block;
    color: #2c2c2c;
    font-size: 60px;
    font-weight: 200;
    margin: 20px auto 40px auto;
    text-align: center;
}

.dishes-item .mini-title {
    display: block;
    color: #2c2c2c;
    font-size: 40px;
    font-weight: 200;
    margin: 40px auto 40px auto;
    text-align: center;
}

.img-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    /* flex-wrap: wrap; */
    overflow: hidden;

}

.img-description p {
    font-size: 36px;
    flex: 1 1 50%; 
    word-wrap: break-word;
    white-space: normal;
    margin: 0;
    max-width: 50%;
    text-align: center;
    overflow-y: auto;
    max-height: 300px;
    padding-right: 10px;
}

.img-description img {

    flex-basis: 30%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    border: none;
}

.arrow {
    position: absolute;
    background-color: transparent;
    border-width: 0;
    bottom: 25px;
    left: 50%;
    translate: -50%;
}

.dishes-item .edit {
    position: absolute;
    background-color: rgba(0, 0, 0, 10%);
    border-radius: 15px;
    width: 60px;
    height: 60px;
    border: none;
    padding: 0;
    top: 0;
    right: 0;
}

.dishes-item .edit img {
    width: 60px;
    height: 60px;

}

.text {
    font-size: 36px;
    text-align: center;
    padding-bottom: 20px;
}

.ingredient {
    display: flex;
    justify-content: space-between;
    margin: 0 45px;
    font-size: 30px;
}

.dishes-top-items {
    margin: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes-top-items .top-title {
    margin: 182px 0 70px 0;
}

.dishes-top-items .equal .add-button {
    margin: 182px 0 70px 0;
    background-color: #FCB9A9;
    width: 70px;
    float: inline-end;
}

.dishes-item .weight-calories {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes-item .weight-calories h2 {
    font-size: 36px;
    margin: 40px 0;
}

.dishes-top-items .search .search-button {
    margin: 182px 0 70px -73.5px;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 15px;
    padding: 0;
    background-color: #edeae5;
}

.dishes-top-items .search {
    justify-self: center;
    margin: 0 auto;
}


.dishes-top-items .search-button img {
    width: 50px;
    height: 70px;
    object-fit: contain;
}

.dishes-top-items .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dishes-top-items .equal {
    width: 20%;
}

.dishes-top-items .search input {
    margin: 182px 0 70px 0;
    background-color: rgba(0, 0, 0, 10%);
    border: none;
    border-radius: 15px;
    font-family: system-ui, -apple-system;
    font-weight: 100;
    font-size: 40px;
    padding: 15px;
}

@media screen and (max-width: 800px) {
    .dishes-top-items .search input, .search button{
        margin: 80px 0px 30px 0px !important;
    }
}