.container .new-order-button {
    width: auto;
    height: auto;
    display: block;
    background-color: #12E3E6;
    color: #2c2c2c;
    font-size: 29px;
    font-weight: 600;
    padding: 10px 50px;
    float: right;
    margin: 30px 0 30px 0;
}

.container .new-order-button:hover {
    opacity: 0.8;
}

.container .done-button {
    margin-bottom: -20px;
    margin-top: 0px;
}

.container textarea {
    width: calc(100% - 20px);
    display: block;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 15px;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-size: 29px;
    padding: 10px;
    margin: 30px auto;
    color: #2c2c2c;
}

.deadline-new-container {
    margin-top: -20px;
    align-items: center;
}

.deadline-new-date {
    border: none;
    font-family: system-ui, -apple-system;
    font-weight: 200;
    font-size: 29px;
}

.edit-dish .image-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.edit-dish .image-description .image {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
    aspect-ratio: 1/1;
    flex-basis: 30%;
    flex-shrink: 30%;
    overflow: hidden;
}

.edit-dish .image-description .image input {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 100;
}

.edit-dish .image-description div {
    flex: 1 1 50%;
}

.edit-dish .image-description .description {
    margin-left: 100px;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit-dish .image-description .description h3 {
    display: block;
    text-align: center;
    margin: 0;
}

.edit-dish .image-description .description textarea {
    height: 220px;
    margin: 0;
}

.edit-dish .dish-name {
    margin-bottom: 60px;
}

.edit-dish .weight-calories {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-dish .weight-calories div {
    display: flex;
    justify-content: start;
    flex-basis: 20%;
    align-items: center;
}

.edit-dish .weight-calories input, .edit-dish .ingredient input {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 100px;
    font-weight: 200;
    font-size: 30px;
    font-family: system-ui, -apple-system;
    color: #2c2c2c;
    text-align: center;
}

.edit-dish .weight-calories div h3 {
    margin-left: 20px;
}

.edit-dish .small-title {
    font-size: 40px;
    display: block;
    text-align: center;
}

.edit-dish .add-ingredient-button, .edit-dish .delete-ingredient-button {
    border-radius: 50%;
    background-color: #12E3E6;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.edit-dish .delete-ingredient-button {
    background-color: #FFA38D;
    display: inline-block;
}

.edit-dish .add-ingredient-button img, .edit-dish .delete-ingredient-button img{
    width: 70%;
    height: 60px;
}

.edit-dish .ingredient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.edit-dish .ingredient .ingredient-name {
    flex-basis: 40%;
}

.edit-dish .ingredient .quantity-unit{
    display: flex;
    /* flex-basis: 40%;  */
    justify-content: space-around;
}

.edit-dish .ingredient .quantity-unit input {
    margin-right: 20px;
}

.edit-dish .dish-image {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.edit-dish .dish-image:hover {
    opacity: 0.2;
}

.edit-dish .info-buttons .delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FFA38D;
    color: #2c2c2c;
    font-weight: 600;
    font-size: 29px;
    width: auto;
    padding: 10px 60px;
}