
.above-part-templates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 55px 0 0;
}

.add-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: #12E3E6;
    padding: 0;
    transition: all 0.2s ease;
}

.add-button img {
    width: 50px;
    height: 70px;
    padding: 0;
    /* margin: 0 auto; */
}

.add-button:hover {
    opacity: 0.8;
}

.container-for-template {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
}

.templates-grid {
    margin: 0 55px 70px 55px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.template-name {
    display: block;
    margin: 20px;
    text-align: center;
}

.template-dish-container {
    display: flex;
    justify-content: space-between;
}

.template-dish-container h3 {
    font-size: 24px;
    margin: 3px 0;
}

.template-dishes {
    margin: 0 20px 40px 20px;
    max-height: 60%;
    overflow-y: auto;
    padding-right: 10px;
}

.template-button {
    border: none;
    border-radius: 15px;
    background-color: #12E3E6;
    color: #2c2c2c;
    font-weight: 600;
    font-size: 24px;
    padding: 15px;
}

.template-button:hover {
    opacity: 0.8;
}

.template-buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
}

.container-for-adding-dishes {
    width: 85%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    max-height: 45vh;
    overflow-y: auto;
    padding-right: 10px;
}

.container-new-template {
    background-color: rgba(0, 0, 0, 0.05);
    height: 500px;
}

.edit-new-template {
    position: fixed;
    border-radius: 15px;
    width: 70%;
    left: 50%;
    top: 250px;
    translate: -50% 0;
}

.new-template-name, .new-order-name {
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    padding: 10px;
    border-radius: 15px;
    font-size: 52px;
    font-weight: 600;
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
    color: #2c2c2c;
}

.new-template-name::placeholder, .new-order-name::placeholder {
    color: #2c2c2c65;
    text-decoration:underline 3px;
}

.chosen-dish {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin: 3px;
    align-items: center;
}

.chosen-dish h3 {
    margin: 5px 0;
    margin-left: 10px;
}

.chosen-dish input {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 80px;
    font-size: 36px;
    font-family: system-ui, -apple-system;
    font-weight: 200;
}

.chosen-dish input::placeholder {
    color: #2c2c2c55;
}

.template-cancel-button {
    position: absolute;
    top: 0;
    left: 0;
}

.container-new-template .template-button {
    width: auto;
    padding: 0 50px;
    font-size: 29px;
    position: absolute;
    bottom: 10px;
}

.done-template-button {
    right: 10px;
}

.delete-template-button {
    left: 10px;
    background-color: #FFA38D;
}
