.edit-dish .image-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.edit-dish .image-description .image {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
  aspect-ratio: 1/1;
  flex-basis: 30%;
  flex-shrink: 30%;
  overflow: hidden;
}

.edit-dish .image-description .image input {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  scale: 15;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}

.edit-dish .choose-file {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 90;
  background-color: transparent;
}

.edit-dish .cancel-button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffa38d;
}

.edit-dish .image-description div {
  flex: 1 1 50%;
}

.edit-dish .image-description .description {
  margin-left: 30px;
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-dish .image-description .description h3 {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

.edit-dish .image-description .description textarea {
  height: 100%;
  margin: 0;
}

.edit-dish .weight-calories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-dish .weight-calories div {
  display: flex;
  justify-content: end;
  flex-basis: 50%;
  align-items: center;
}

.edit-dish .weight-calories input,
.edit-dish .ingredient input {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 15px;
  padding: 10px;
  width: 50px;
  font-weight: 200;
  font-size: 18px;
  font-family: system-ui, -apple-system;
  color: #2c2c2c;
  text-align: center;
}

.edit-dish .weight-calories div h3 {
  margin-left: 20px;
}

.edit-dish .small-title {
  font-size: 25px;
  display: block;
  text-align: center;
}

.edit-dish .add-ingredient-button,
.edit-dish .delete-ingredient-button {
  border-radius: 50%;
  background-color: #12e3e6;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.edit-dish .delete-ingredient-button {
  background-color: #ffa38d;
  display: inline-block;
}

.edit-dish .add-ingredient-button img,
.edit-dish .delete-ingredient-button img {
  width: 70%;
  height: 40px;
}

.edit-dish .ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.edit-dish .ingredient .ingredient-name {
  flex-basis: 40%;
  margin-right: 20px;
}

.edit-dish .ingredient .quantity-unit {
  display: flex;
  justify-content: space-around;
}

.edit-dish .ingredient .quantity-unit input {
  margin-right: 20px;
}

.edit-dish .dish-image {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: all 0.3s ease;
  opacity: 0.2;
}

.edit-dish .image {
  aspect-ratio: 1/1;
}

.edit-dish .info-buttons .delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffa38d;
  color: #2c2c2c;
  font-weight: 600;
  font-size: 25px;
  width: auto;
  padding: 0 40px;
}

.edit-dish textarea {
  width: calc(100% - 20px);
}

.container img {
  width: 40px;
  text-align: center;
}

.container button,
.button-in-prep {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 15px;
  /* background-color: #FFA38D; */
}

.new-dish-name {
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  padding: 10px;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 30px;
  width: 250px;
  text-align: center;
  color: #2c2c2c;
}

.new-dish-name::placeholder {
  color: #2c2c2c65;
  text-decoration: underline 3px;
}

.container .done-button {
  margin-top: 0px;
}

.container .new-dish-button {
  width: auto;
  height: auto;
  display: block;
  background-color: #12e3e6;
  color: #2c2c2c;
  font-size: 25px;
  font-weight: 600;
  padding: 10px 40px;
  float: right;
  margin: 25px 0 0 0;
}
