.edit-dish {
  width: 80% !important;
}

.edit-dish .image-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.2vw;
}

.edit-dish .image-description .image {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
  aspect-ratio: 1/1;
  flex-basis: 30%;
  flex-shrink: 30%;
  overflow: hidden;
}

.edit-dish .image-description .image input {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  scale: 15;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}

.edit-dish .choose-file {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 110;
  background-color: transparent;
}

.edit-dish .cancel-button {
  min-height: 30px;
  min-width: 30px;
  background-color: #ffa38d;
}

.edit-dish .image-description div {
  flex: 1 1 50%;
}

.edit-dish .image-description .description {
  margin-left: 9vw;
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-dish .image-description .description h3 {
  display: block;
  text-align: center;
  margin: 0;
}

.edit-dish .image-description .description textarea {
  height: 15vw;
  margin: 0;
}

.edit-dish .dish-name {
  margin-bottom: 5vw;
}

.edit-dish .weight-calories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-dish .weight-calories div {
  display: flex;
  justify-content: end;
  flex-basis: 50%;
  align-items: center;
}

.edit-dish .weight-calories input,
.edit-dish .ingredient input {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 15px;
  padding: 0.8vw;
  width: 9vw;
  font-weight: 200;
  font-size: 2.4vw;
  font-family: system-ui, -apple-system;
  color: #2c2c2c;
  text-align: center;
}

.edit-dish .weight-calories div h3 {
  margin-left: 1.7vw;
}

.edit-dish .small-title {
  font-size: 2.8vw;
  display: block;
  text-align: center;
}

.edit-dish .add-ingredient-button,
.edit-dish .delete-ingredient-button {
  border-radius: 50%;
  background-color: #12e3e6;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.edit-dish .delete-ingredient-button {
  background-color: #ffa38d;
  display: inline-block;
}

.edit-dish .add-ingredient-button img,
.edit-dish .delete-ingredient-button img {
  width: 70%;
  height: 5vw;
}

.edit-dish .ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.7vw 0;
}

.edit-dish .ingredient .ingredient-name {
  flex-basis: 40%;
}

.edit-dish .ingredient .quantity-unit {
  display: flex;
  /* flex-basis: 40%;  */
  justify-content: space-around;
}

.edit-dish .ingredient .quantity-unit input {
  margin-right: 1.8vw;
}

.edit-dish .dish-image {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  opacity: 0.2;
}

.edit-dish .info-buttons .delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffa38d;
  color: #2c2c2c;
  font-weight: 600;
  font-size: 2.8vw;
  width: auto;
  padding: 0 5vw;
  min-height: 30px;
}

.container img {
  width: 5vw;
  text-align: center;
}

.container button,
.button-in-prep {
  width: 5vw;
  height: 5vw;
  padding: 0;
  border: none;
  border-radius: 15px;
  /* background-color: #FFA38D; */
}

.info-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: -3vw;
  margin-right: -2vw;
  margin-left: -2vw;
}

.new-dish-name {
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  padding: 0.8vw;
  border-radius: 15px;
  font-size: 4.5vw;
  font-weight: 600;
  width: 50%;
  text-align: center;
  margin-bottom: 2.8vw;
  color: #2c2c2c;
}

.new-dish-name::placeholder {
  color: #2c2c2c65;
  text-decoration: underline 3px;
}

.container .done-button {
  /* margin-bottom: -20px; */
  margin-top: 0px;
}

.container .new-dish-button {
  width: auto;
  height: auto;
  display: block;
  background-color: #12e3e6;
  color: #2c2c2c;
  font-size: 2.5vw;
  font-weight: 600;
  padding: 0.8vw 3vw;
  float: right;
  margin: 2.5vw 0 0 0;
}
