.container-for-adding-dishes {
  width: auto;
  margin: 0 30px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 50px;
}

.overlay .container-new-template {
  background-color: rgba(0, 0, 0, 0.05);
  max-height: 500px;
  width: auto;
}

.edit-new-template {
  position: fixed;
  border-radius: 15px;
  left: 50%;
  top: 180px;
  translate: -50% 0;
  height: auto;
}

.new-template-name,
.new-order-name {
  display: block;
  width: auto;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  padding: 10px;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #2c2c2c;
}

.new-template-name::placeholder,
.new-order-name::placeholder {
  color: #2c2c2c65;
  text-decoration: underline 3px;
}

.chosen-dish {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin: 3px;
  align-items: center;
}

.chosen-dish h3 {
  margin: 5px 0;
  margin-left: 10px;
}

.chosen-dish input {
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  width: 30px;
  font-size: 18px;
  font-family: system-ui, -apple-system;
  font-weight: 200;
}

.chosen-dish input::placeholder {
  color: #2c2c2c55;
}

.template-cancel-button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffa38d;
}

.container-new-template .template-button {
  width: auto;
  padding: 0 40px;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
}

.done-template-button {
  right: 10px;
  background-color: #12e3e6;
  font-weight: 600;
}

.delete-template-button {
  left: 10px;
  background-color: #ffa38d;
}
