.above-part-templates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 3vw 30px 3vw;
}

.templates-grid {
  margin: 0 3vw 6vw 3vw;
  display: grid;
  gap: 3vw;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

@media screen and (max-width: 700px) {
  .above-part-templates {
    margin-top: 0;
  }
}
