.in-work-prep-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}

@media screen and (max-width: 500px) {
  .in-work-prep-grid {
    grid-template-columns: 1fr;
  }
}
