.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  backdrop-filter: blur(80px);
}

.margin-nav-bar {
  min-height: 110px;
}
.nav-line {
  margin: 0;
}

.nav-bar {
  display: flex;
}

.nav-bar button {
  flex-basis: 20%;
  font-weight: 600;
  font-size: 25px;
  color: #2c2c2c;
  border: none;
  margin: 10px 0 10px 10px;
  padding: 20px 40px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 10%);
  transition: all 0.2s ease;
}

.nav-bar button:hover {
  background-color: rgba(0, 0, 0, 70%);
  color: #edeae5;
}

.nav-bar button:active {
  background-color: rgba(0, 0, 0, 70%);
  color: #edeae5;
  transform: scale(0.95);
}

.nav-bar .active-button {
  background-color: rgba(0, 0, 0, 70%);
  color: #edeae5;
  transform: scale(0.95);
}
@media screen and (max-width: 700px) {
  .nav-bar button {
    font-size: 15px;
    margin: 15px 0;
    padding: 15px 30px;
  }
  .nav-bar {
    justify-content: space-around;
  }
}
