.template-name {
  font-size: 25px;
  display: block;
  margin: 20px 10px 10px 10px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .template-name {
    font-size: 18px;
  }
}
.template-dish-container {
  display: flex;
  justify-content: space-between;
}

.template-dish-container h3 {
  font-size: 20px;
  margin: 3px 0;
}

.template-dishes {
  margin: 0 10px 30px 10px;
  overflow-y: auto;
  padding-right: 10px;
}

.template-button {
  border: none;
  border-radius: 15px;
  background-color: #12e3e6;
  color: #2c2c2c;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
}

.template-button:hover {
  opacity: 0.8;
}

.template-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.container-for-template {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  position: relative;
}
