.item-name {
  display: inline;
  font-size: 32px;
  margin-right: 30px;
}

.work-prep-things {
  display: flex;
  margin: 40px 40px 10px 40px;
  justify-content: space-between;
}

.work-prep-things button img,
.arrow img {
  width: 48px;
  height: 48px;
  opacity: 0.8;
}

.work-prep-things button {
  background-color: transparent;
  border: none;
}

.work-prep-item {
  background-color: rgba(0, 0, 0, 10%);
  margin: 0 55px;
  padding-bottom: 10px;
  border-radius: 15px;
  transition: all 0.3s ease;
  position: relative;
}
.prep-item {
  transition: padding 0.3s ease;
  position: relative;
}

.name-n-info {
  display: flex;
}

.full-progress {
  height: 46px;
  margin: 0 40px 30px 40px;
  background-color: #2c2c2c;
  border-radius: 25px;
  border: 2px #2c2c2c solid;
  overflow: hidden;
}

.real-progress {
  height: 46px;
  width: 300px;
  background-color: #edeae5;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.dish-in-work,
.product-in-prep {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  flex-wrap: nowrap;
}

.dish-in-work div,
.product-in-prep div {
  display: flex;
  align-items: center;
  width: 100%;
}

.dish-in-work button {
  background-color: transparent;
  border: none;
}

.dish-in-work button h3 {
  font-family: system-ui;
  font-weight: 100;
  font-size: 50px;
}

.dish-in-work input {
  background-color: rgba(0, 0, 0, 10%);
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 32px;
  font-weight: 200;
  font-family: system-ui;
  width: 4vw;
  text-align: center;
}

.product-in-prep h3 {
  margin: 10px 0;
}

.check-dishes,
.check-product {
  display: block;
  position: relative;
  margin: 0 45px 45px 45px;
  cursor: pointer;
  /* font-size: 22px; */
}

.check-dishes input,
.check-product input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #12e3e6;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.check-dishes:hover input ~ .checkmark,
.check-product:hover input ~ .checkmark {
  background-color: #12e3e6a3;
}

.check-dishes input:checked ~ .checkmark,
.check-product input:checked ~ .checkmark {
  background-color: #12e3e6;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-dishes input:checked ~ .checkmark:after,
.check-product input:checked ~ .checkmark:after {
  display: block;
}

.check-dishes .checkmark:after,
.check-product .checkmark:after {
  left: 16px;
  top: 10px;
  width: 9px;
  height: 18px;
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#arrow {
  transition: all 0.2s ease;
  /* transform: rotate(0deg); */
}

.how-many-made {
  justify-content: center;
}

.how-many-dish,
.how-many-product {
  justify-content: end;
}

.prep-item .button-in-prep,
.work-prep-item .button-in-prep {
  background-color: #12e3e6;
  color: #2c2c2c;
  font-weight: 600;
  font-size: 24px;
  height: auto;
  padding: 10px 40px;
  width: auto;
  position: absolute;
  right: 50%;
  translate: 50%;
  transition: all 0.3s ease;
  opacity: 0;
}

.work-prep-item .button-in-prep:active {
  scale: 0.8;
}

.work-prep-item .button-in-prep:hover {
  box-shadow: 0px -1px 40px 0px #12e3e6;
}
