.overlay .order {
  width: auto;
}

.order .new-order-name {
  font-size: 52px;
  margin: 30px auto;
  width: 300px;
}

.container .new-order-button {
  width: auto;
  height: auto;
  display: block;
  background-color: #12e3e6;
  color: #2c2c2c;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 30px;
  float: right;
  margin: 20px 0;
}

.order #bottom-dividing-line {
  margin-top: 50px;
  margin-bottom: 20px;
}

.order .dish {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.order .dish h3 {
  font-size: 18px;
  margin: 0;
}

.order textarea {
  width: calc(100% - 20px);
  min-height: 100px;
}

.order h3.title {
  margin: 0;
}

.order .cancel-button {
  background-color: #ffa38d;
}
.order .new-order-button:hover {
  opacity: 0.8;
}

.order .done-button {
  margin-bottom: -20px;
  margin-top: 0px;
}

.deadline-new-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.deadline-new-container h3.title {
  margin: 0;
}

.deadline-new-date {
  border: none;
  font-family: system-ui, -apple-system;
  font-weight: 200;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 10px;
}

.order .done-button {
  margin-bottom: 20px;
}

.order .info-buttons {
  position: absolute;
  top: 0;
  left: 0;
}
