.full-progress {
  height: 20px;
  margin-top: 15px;
  background-color: #2c2c2c;
  border-radius: 25px;
  border: 1px #2c2c2c solid;
  overflow: hidden;
}

.real-progress {
  height: 20px;
  background-color: #edeae5;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.dish-in-work {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.how-many-made {
  justify-content: center;
}

.how-many-dish,
.how-many-product {
  justify-content: end;
}

.dish-in-work button {
  background-color: transparent;
  border: none;
}

.dish-in-work button h3 {
  font-family: system-ui;
  font-weight: 100;
  font-size: 30px;
}

.dish-in-work h3 {
  margin: 0;
}

.dish-in-work input {
  background-color: rgba(0, 0, 0, 10%);
  border: none;
  border-radius: 15px;
  padding: 5px;
  font-size: 20px;
  font-weight: 200;
  font-family: system-ui;
  width: 4vw;
  text-align: center;
}
